body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Source Sans 3", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.top-section-wrapper {
    background-color: #001D37;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

.foreground-top-content {
    z-index: 2;
    position: relative;
}

.top-section {
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1066px;
    margin: 0 auto;
}
.top-section h1 {
    font-size: 4rem;
    margin: 0;
    line-height: 97.3%;
    max-width: 525px;
}

.intro-text {
    font-size: 1.25rem;
    line-height: 169.3%;
    margin: 1rem 0;
    max-width: 435px;
}
.intro-buttons {
    margin-bottom: 60px;
}

.our-btn {
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #475AFF;
    border: 2px solid #475AFF;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 13px 25px;
    border-radius: 100px;
    transition: background-color .3s ease-out, border .3s ease-out;
}
.our-btn:hover {
    background-color: #2635c5;
    border: 2px solid #2635c5;
}

.our-btn--outline {
    background-color: transparent;
    border: 2px solid white;
    transition: background-color .3s ease-out, color .3s ease-out;
}

.our-btn--outline:hover {
    color: #475AFF;
    background-color: #c7cdff;
    border: 2px solid white;
}

.utility-mr {
    margin-right: 12px;
}

.intro-feature {
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: 33px 25px;
}
.intro-feature p {
    margin: 0;
    font-size: 1.0625rem;
}
.intro-feature h2 {
    font-size: 1.5rem;
    margin: 30px 0 4px 0;
}

.intro-features {
    display: grid;
    row-gap: 16px;
 }

@media screen and (min-width: 580px) {
    .intro-features {
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
     }
}

@media screen and (min-width: 900px) {
    .intro-features {
        grid-template-columns: 1fr 1fr 1fr 1fr;
     }
}

.circle {
    position: absolute;
    top: 62px;
    right: -390px;
    width: 617px;
    height: 617px;
    border-radius: 50%;
    background: #D660FF;
    opacity: .85;
    filter: blur(150px);
}

.circle-two {
    position: absolute;
    top: -490px;
    left: -120px;
    width: 617px;
    height: 617px;
    border-radius: 50%;
    background: #6079FF;
    opacity: .85;
    filter: blur(150px);
}

.page-section {
    background-color: #fff;
    padding: 70px 16px;
}

.page-section-inner {
    max-width: 1066px;
    margin: 0 auto;
}
.page-section-title {
    font-size: 4rem;
    margin: 0;
    line-height: 1;
}

.pet-filter {
    color: #9f9f9f;
    font-size: 1.15rem;
}

.pet-filter button {
    background-color: transparent;
    border: none;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.15rem;
    color: #9f9f9f;
}

.list-of-pets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 34px;
    row-gap: 16px;
}

.pet-card {
    display: grid;
    grid-template-columns: 120px 1fr;
    overflow: hidden;
    border: solid 1px #f3f3f3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.pet-card-photo {
    order: 1;
    grid-row: 1;
}

.pet-card-photo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.pet-card-text {
    padding: 16px 18px;
    color: #626262;
}

.pet-card-text h3 {
    margin: 0 0 3px 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 120%;
    color: #000;
}

.pet-description {
    margin: 0 0 0.8rem 0;
}

.pet-age {
    color: #a2a2a2;
    font-size: 0.85rem;
    margin: 0;
}

.site-footer p {
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    font-size: 0.875rem;
    color: #a6a6a6;
    margin: 0;
    padding-bottom: 50px;
}

/* Media Queries */
@media screen and (min-width:600px) {
    .top-section h1 {
        font-size: 6.25rem;
    }
    .top-section {
        padding-top: 139px;
        padding-bottom: 139px;
    }
    .intro-buttons {
        margin-bottom: 129px;
    }
    .page-section {
        padding: 120px 16px;
    }
    .page-section-title {
        font-size: 5.31rem;
    }
    .pet-filter {
        font-size: 1.375rem;
    }
    
    .pet-filter button {
        font-size: 1.375rem;
    }
    .list-of-pets {
        row-gap: 28px;
    }
    .pet-card {
        grid-template-columns: 165px 1fr;
    }
    .pet-card-text {
        padding: 22px 28px;
    }
    .pet-card-text h3 {
        margin: 0 0 5px 0;
        font-size: 1.625rem;
        font-weight: 600;
        line-height: 150%;
    }
    .pet-description {
        margin: 0 0 1rem 0;
    }
}
